.ui.borderless.topmenu.menu {
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}
.ui.borderless.middlemenu.menu{
  box-shadow: none;
  border: none;
}

.black-background {
  background-color: black;
  color: whitesmoke;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navMenu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.landing.banner {
  background: url('images/UH_Liliuokalani_Center.JPG') no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  opacity: .7;
}

.bannerText {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 4.5em;
  text-shadow: 2px 2px whitesmoke;
  color: black;
}

.landingDescText {
  font-size: 1.5em;
}

.landing.description {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #FBF3EB;
}
